<h1>Leave a Review</h1>
<div id="form">
  <%= simple_form_for([@restaurant, @review]) do |f| %>
    <div id="form-rating">
      <p>Rating: how many stars?</p>
      <%= f.select :rating, [0, 1, 2, 3, 4, 5] %>
    </div>
    <div id="form-content">
      <p>Review</p>
      <%= f.text_area :content, data: { editor: 'markdown' }, rows: 10 %>
    </div>
    <div id="form-btn">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<%# <%= link_to "Home", restaurants_path %>
